<h1>IBM Data Science professional certificate.</h1>

<h1>Introduction:</h1>
<p><i>This jupyter notebook is the final graded assignment for module 2 of the IBM data science professional certificate</i></p>

<p><b>Below are some examples of widely used data science languages:</b></p>
<ul>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ul>

<p><b>Below are some examples of data science libraries:</b></p>
<ol>
    <li>Numpy</li>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>Pytorch</li>
</ol>

<p><b>Below is a table with some data science tools:</b></p>
<p>
<table>
  <tr>
    <th>Tool name</th>
    <th>Sponsor / Developper</th>
    <th>Importance</th>
  </tr>
  <tr>
    <td>Watson Studio</td>
    <td>IBM</td>
    <td>High</td>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td>Open Source</td>
    <td>Medium</td>
  </tr>
</table>
</p>

<b>Below are some arithmetic expression examples:</b>

In [1]:
print("5 + 4 = ", 5+4)
print("5 * 4 = ", 5*4)

5 + 4 =  9
5 * 4 =  20

In [2]:
print("30 minutes in hours is = ", 30/60, "hours")

30 minutes in hours is =  0.5 hours

<h2>Objectives</h2>
<p> Objectives are to use some jupyter notebook basic functions.</p>

<h3>Author name:</h3>
<p>Didier, UoL student.</p>

Thank you for reading.